{% extends "base.html" %}
{% block title %}Change Password{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<h2>Change Password</h2><br/>
<form method="GET">
  <div class="form-group">
    <label for="InputName">new password</label>
    <input type="password" class="form-control" placeholder="new password" name="pw" required>
  </div>
  <input type="text" value="{{ csrf_token }}" name="csrftoken" hidden>
  <button type="submit" class="btn btn-default">Change Password</button>
</form>
{% endblock %}